# Dependency directories
node_modules/
**/node_modules/

# Models
*.h5
**/best_model.h5

# Build outputs
dist/
**/dist/
build/
**/build/

# Python cache
__pycache__/
**/__pycache__/
*.pyc

# Local env files
.env
.env.local
.env.*.local

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
